* {
    font-family: sans-serif;
}
body,
html {
  height: 100%;
  margin: 0;
  background-color: darkgrey;
}

img {
    height: 1.3rem;
    width: auto;
}
.guitar {
    height: 3rem;
}

.container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: minmax(209px, 1fr) minmax(560px,3.5fr) minmax(240px, 1.2fr);
    grid-template-rows: 150px 4fr;
  }

  .header {
    background-color: white;
    grid-area: 1/2/2/4;
    box-shadow: -3px 2px 3px grey;
    margin-bottom: 5px;
    padding: 10px 10px 10px 35px;
    display: grid;
  }

  .headerRowOne {
    grid-area: 1/1/2/2;
    display: grid;
    height: 35px;
    grid-template-columns: 2.5fr 1fr;
    align-items: center;
  }
  .rowOneColOne {
    display: grid;
    grid-template-columns: auto 1fr;
  }
  .rowOneColTwo {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: auto auto auto;
  }
  input {
    border-radius: 25px;
    border: 2px solid black;
    width: 80%;
    margin-left: 10px;
    background-color: rgb(226, 223, 223);
  }

  .headerRowTwo {
    grid-area: 2/1/3/2;
    height: 100px;
    display: grid;
    align-items: center;
    grid-template: 50px 50px / auto 2fr auto;
    grid-auto-flow: column;
  }
  .guitarBig {
    align-self: center;
    height: 3.5rem;
    grid-area: 1/1/3/2;
}
.hi {
    font-size: 10pt;
    grid-area: 1/2/2/3;
    margin: 0px 0px -15px 10px;
}
.name {
    grid-area: 2/2/3/3;
    font-size: 12pt;
    margin: -15px 0px 0px 10px;
}
.buttons {
    grid-area: 1/3/3/4;
}
button {
    background-color: rgba(16, 129, 221, 0.857);
    color: white;
    border-radius: 25px;
    border: none;
    padding: 8px 20px;
    margin: 10px;
}

  .sidebar {
    padding: 20px;
    color: white;
    background-color: rgb(45, 122, 217);
    grid-area: 1/1/3/2;
    display: grid;
    justify-items: start;
    grid-template-rows: 100px repeat(10, 50px);
  }
 .sidebar>h2,
 .sidebar>p {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
 }

  img.icons,
  .dashIcon {
    filter: invert(97%) sepia(16%) saturate(0%) hue-rotate(35deg) 
    brightness(104%) contrast(103%);
    margin-right: 10px;
    align-items: center;
}

.dashIcon {
    height: 2rem;
}

  .dashboard {
    background-color: rgb(241, 237, 237);
    grid-area: 2/2/3/3;
    text-align: center;
    display: grid;
    gap: 20px;
    padding: 10px;
    grid-template-rows: 25px .5fr;
    grid-template-columns: repeat(auto-fill, minmax(240px, .9fr));
  }

  .dashTitle{
    grid-area: 1/1/2/-1;
    justify-self: start;
    align-self: end;
  }
  .projects {
    background-color: white;
    border-radius: 8px;
    border-left: 6px solid goldenrod;
    height: 140px;
    padding: 10px;
    display: grid;
    grid-template: 1fr 3fr 1fr / 4fr repeat(3, 1fr);
    justify-items: start;
  }
  .cardIcon {
    grid-area: 3/2/4/3;
  }
  .cardIconTwo {
    grid-area: 3/3/4/4;
  }
  .cardIconThree {
    grid-area: 3/4/4/5;
  }
  .title {
    grid-area: 1/1/2/5;
    font-size: 11pt;
    font-weight: 500;
    align-self: end;
  }
  .description {
    grid-area: 2/1/3/5;
    font-size: 9pt;
    text-align: left;
    font-weight: 100;
  }

  .announcements {
    display: grid;
    grid-area: 2/3/3/4;
    background-color: rgb(241, 237, 237);
    gap: 7px;
    padding: 10px;
    grid-template-rows: 35px 1fr 35px 1fr;
  }
  .announceTitle,
  .trendTitle {
    align-self: end;
  }
  .announceBox {
    grid-row: 2/3;
    display: grid;
    border-radius: 8px;
    align-items: center;
    padding: 12px;
    grid-template-rows: repeat(3, 1fr);
    background-color: white;
  }

  .announce,
  .lastAnnounce {
    display: grid;
    grid-template-rows: 20px 1fr;
  }
  .announce :last-child{
    border-bottom: 1px solid lightgray;
    padding-bottom: 9px;
  }
  .announce :first-child,
  .lastAnnounce :first-child {
    font-size: 10pt;
    font-weight: 500;
    align-self: end;
  }
  .announce :last-child,
  .lastAnnounce :last-child {
    font-size: 9pt;
    font-weight: lighter;
  }

  .trendingBox {
    grid-row: 4/5;
    display: grid;
    border-radius: 8px;
    align-items: center;
    padding: 12px;
    grid-template-rows: repeat(4, 1fr);
    background-color: white;
  }
  .trendingUser {
    align-self: center;
    display: grid;
    grid-template: 20px 20px / 1fr 3fr;
  }
.userIcon {
    grid-area: 1/1/3/2;
    height: 2rem;
    place-self: center;
}
.userTag,
.userName {
    font-size: 9pt;
    justify-self: start;
    align-self: center;
    padding-left: 10px;
}
.userTag {
    grid-area: 1/2/2/3;
    font-weight: 500;
}
.userName {
    grid-area: 2/2/3/3;
    font-weight: 200;
}